/* Import Reset CSS */
@import url("reset.css");

/* Import Bootstrap CSS */
@import url("bootstrap/css/bootstrap.min.css");

/* General Tag Settings */
html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 85%;
  color: #333333;
  line-height: 1.5;
  background: #f5f5f5;
}

a:link {
  color: #336699;
}

a:visited {
  color: #6699cc;
}

a:hover {
  color: #cc6666;
}

a:active {
  color: #cc6666;
}

h1 {
  margin: 0 0 10px;
  font-size: 140%;
}

h2, h3 {
    font-size: 120%;
}

h4, h5 {
  font-size: 100%;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

em {
  font-style: normal;
  font-weight: bold;
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
}

td {
  padding: 6px;
  vertical-align: top;
}

/* Layout Settings */
/* 1 Column Layout */
body.ShowBlockL0R0 #Wrapper {
  width: 100%;
}

body.ShowBlockL0R0 #CenterColumn {
  float: left;
  width: 100%;
}

/* 2 Column Layout. Enable Left Column */
body.ShowBlockL1R0 #Wrapper {
  width: 100%;
}

body.ShowBlockL1R0 #CenterColumn {
  float: right;
  width: 100%;
  margin-left: -240px;
}

body.ShowBlockL1R0 #CenterWrapper {
  margin-left: 240px;
}

body.ShowBlockL1R0 #CenterCColumn {
	margin-right: 20px;
}

body.ShowBlockL1R0 #CenterLColumn {
	margin-left: -20px;
}

body.ShowBlockL1R0 #CenterLColumn {
	margin-right: 10px;
}

/* 2 Column Layout. Enable Right Column */
body.ShowBlockL0R1 #Wrapper {
  float: left;
  width: 100%;
  margin-right: -240px;
}

body.ShowBlockL0R1 #CenterColumn {
  margin-right: 240px;
  margin-left: 10px;
}

body.ShowBlockL0R1 #CenterLColumn {
	margin-left: -20px;
}

body.ShowBlockL0R1 #CenterLColumn {
	margin-right: 10px;
}

/* 3 Column Layout. Enable Left and Right Column */
body.ShowBlockL1R1 #Wrapper {
  float: left;
  width: 100%;
  margin-right: -160px;
}

body.ShowBlockL1R1 #CenterColumn {
  float: right;
  width: 100%;
  margin-left: -160px;
}

body.ShowBlockL1R1 #CenterWrapper {
  margin-right: 160px;
  margin-left: 160px;
}

/* Page Settings */
#mainpage {
  background: #ffffff;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

/* Header Settings */
#header {
  background: #ffffff;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-top: 10px;
  border-bottom: dotted 1px #dcdcdc;
}

#sitename {
  float: left;
	font-size: 2em;
}

#sitename span {
  padding-right: 5px;
}

#sitename h1 {
	display: inline;
  color: #ffffff;
	background: #3580cc;
	margin: 10px;
	padding-left: 10px;
  border-radius: 10px;
}

#sitename a:link,
#sitename a:visited {
  text-decoration: none;
  color: #ffffff;
}

#slogan {
  float: left;
	font-size: 1.5em;
	margin: 10px;
}

@font-face {
  font-family: 'font1';
  src: url('modin.ttf');
}

.fontArbasis {
	font-family:'font1';
}

/* Navigation Settings */
#navigation {
	background: #ffffff;
	border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

#navigation a	{
  background: #e4e4e4;
	color: #0e0e0e;
	display: block;
	float: left;
	padding: 5px;
	text-decoration: none
}

#navigation a:hover	{
	text-decoration: none;
	color: #ffffff;
	background: #3580cc;
}

#navigation a:active {
	position: relative;
	top: 0;
}

/* Breadcrumb Settings */
#breadcrumb,
#theme_breadcrumbs {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid #1d1d1d;
}

/* Contents Settings */
#CenterColumn .BlockTitle {
  border-bottom: #cccccc solid 2px;
}

#CenterColumn .BlockContent,
#ModuleContents {
  clear: both;
  padding: 5px 10px 5px 5px;
  font-size: 100%;
  line-height: 1.5;
}

/* Center Left&Right Settings */
#CenterLColumn {
  float: left;
}

#CenterRColumn {
  float: right;
}

.CenterCblock,
.CenterLblock,
.CenterRblock {
  clear: both;
  margin-bottom: 20px;
}

/* Left Column Settings */
#LeftColumn {
  float: left;
}

.LeftBlock {
  padding: 10px 0;
  border-right: dotted 1px #dcdcdc;
}

#LeftColumn .BlockTitle {
  padding: 0 10px;
  margin: 0 0 5px 0;
  line-height: 1.5;
}

#LeftColumn .BlockContent {
  padding: 0 10px;
  text-align: left;
}


/* Right Column Settings */
#RightColumn {
  float: right;
}

.RightBlock {
  padding: 10px 0;
  border-left: dotted 1px #d3d3d3;
}

#RightColumn .BlockTitle {
  padding: 0 10px;
  margin: 0 0 5px 0;
  line-height: 1.5;
}

#RightColumn .BlockContent {
  padding: 0 10px;
  text-align: left;
}

/* Top Bar Settings */
#topbar {
  background-color: #3b3b3b;
}

#management_bar {
    position: relative;
    padding: 1px 10px 4px;
}
#management_bar a {
    text-decoration: none;
    color: #bcbcbc;
}
#management_bar a:hover {
    color: #efefef;
}
#management_bar img {
    width: 1.2em;
    height: 1.2em;
    margin-top: 2px;
    vertical-align: text-bottom;
}
#headerLogOut {
    margin-left: 0.5em;
}

/* Footer Setings */
#footer {
  margin-bottom: 0;
  clear: both;
}

#footer p {
  padding: 5px 0;
  text-align: right;
  font-size: 80%;
}

#footer p a:link {
  color: #333333;
}

/* for accessibility */
.Skip {
  position: absolute;
  left: -999em;
}

/* clearfix http://www.positioniseverything.net/ */
.clearfix:after {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  content: ".";
}

.clearfix {
  display: inline-table;
}

/******************************************************************************/
/* Main Menu and User Menu Settings */
.mainmenu, #usermenu {
    padding: 0;
    margin: 0;
    text-align: left;
}

.mainmenu li, #usermenu li {
    display: inline;
}

.mainmenu a {
    margin: 0 1px;
    border-bottom: #dddddd solid 1px;
    display: block;
}

.mainmenu a:hover {background-color:#eeeeee}

.mainmenu a.menuTop {
    padding: 5px 10px;
}

.mainmenu a.menuMain {
    padding: 5px 10px;
}

.mainmenu a.menuSub {
    padding: 5px 5px 5px 15px;
}

#usermenu a {
    padding: 5px 10px;
    margin: 0 1px;
    border-bottom: #dddddd solid 1px;
    display: block;
}

#usermenu a:hover {background-color:#eeeeee}

#usermenu a.menuTop {}
#usermenu a.highlight {
    background-color: #ffcccc;
}

/******************************************************************************/
.outer {}
.head {
    padding: 5px;
    font-weight: bold;
    background-color: #cccccc;
}

.even {
    padding: 5px;
    background-color: #eeeeee;
}

.odd  {
    padding: 5px;
    background-color: #fafafa;
}


.foot {
    padding: 5px;
}

th {
    padding: 5px;
    color: #ffffff;
    background-color: #666666;
}

tr.even td {
    padding: 5px;
    background-color: #eeeeee;
}

tr.odd td {
    padding: 5px;
    background-color: #fafafa;
}

.item {}
.itemHead {
    padding: 3px 8px;
    color: #ffffff;
    background: #666666;
}

.itemInfo {
    padding: 3px;
    text-align: right;
    background: #efefef;
}

.itemTitle a {
    font-variant: small-caps;
    font-weight: bold;
    color: #ffffff;
    background: transparent;
}

.itemPoster {
    font-size: 90%;
}

.itemPostDate {
    font-size: 90%;
}

.itemStats {
    font-size: 90%;
}

.itemBody {
    padding: 5px 10px;
}

.itemText {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
}

.itemText:first-letter {
}
.itemFoot {
    padding: 3px;
    text-align: right;
    background: #efefef;
}

.itemAdminLink {
    font-size: 90%;
}

.itemPermaLink {
    font-size: 90%;
}

div.errorMsg {
    padding: 10px;
    border-top: 1px solid #ddffff;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #ddffff;
    font-weight: bold;
    text-align: center;
    background: #ffcccc;
}

div.confirmMsg {
    padding: 10px;
    border-top: 1px solid #ddffff;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #ddffff;
    font-weight: bold;
    color: #136C99;
    text-align: center;
    background: #ddffdf;
}

div.resultMsg {
    padding: 10px;
    border-top: 1px solid silver;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid silver;
    font-weight: bold;
    color: #333333;
    text-align: center;
    background: #cccccc;
}

div.xoopsCode {
    padding: 0px 6px 6px 6px;
    border: 1px inset #000080;
    font-family: "Courier New",Courier,monospace;
    background: #fafafa;
}

div.xoopsQuote {
    padding: 3px;
    border: 1px solid #336699;
    background: #fafafa;
}

.comTitle {
    margin-bottom: 2px;
    font-weight: bold;
}

.comText {
    padding: 2px;
}

.comUserStat {
    padding: 2px;
    margin: 2px;
    border: 1px solid silver;
    font-size: 10px;
    font-weight: bold;
    color: #2F5376;
    background-color: #ffffff;
}

.comUserStatCaption {
    font-weight: normal;
}

.comUserStatus {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #2F5376;
}

.comUserRank {
    margin: 2px;
}

.comUserRankText {
    font-size: 10px;
    font-weight: bold;
}

.comUserRankImg {
    border: 0;
}

.comUserName {}
.comUserImg {
    margin: 2px;
}

.comDate {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

.comDateCaption {
    font-style: normal;
    font-weight: bold;
}

/* Form Settings */
#legacy_xoopsform_block_uname {
	width: 100%;
}

#legacy_xoopsform_block_pass {
	width: 100%;
}

#xoops_theme_select {
	width: 100%;
}